###> symfony/framework-bundle ###

APP_ENV=dev
APP_SECRET=f28bb445d7f6ff26e5ab8bf1c3cc0bd3

###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###

DATABASE_URL=mysql://root:root@127.0.0.1:3306/football_leagues

###< doctrine/doctrine-bundle ###
